---
---

@import "minima";

body {
  background-color: #fffde7;
}

.page-content {
  background-color: #fffde7;
}

.site-header {
  background-color: #fff9c4;
  border-bottom: 1px solid #f0e68c;
}

.site-footer {
  background-color: #fff9c4;
  border-top: 1px solid #f0e68c;
}
